<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
    <div *ngFor="let item of items" class="bg-white shadow rounded-lg overflow-hidden">
      <img [src]="item!.image" alt="{{item!.title}}" class="w-full h-48 object-cover">
      <div class="p-4">
        <h2 class="text-lg font-semibold">{{ item!.title }}</h2>
        <button 
          (click)="navigateToDetails(item!.id)" 
          class="mt-2 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
          Ver detalhes
        </button>
      </div>
    </div>
  </div>